h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291501079 - 3 - Coser artículos de marroquinería de acuerdo con las características técnicas del producto.
            li 
                span 291501079 - 4 - Validar muestra física de marroquinería de acuerdo con el resultado del producto.                 