h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')                
                    +navTemaItem('1', 'Enhebrado de la máquina', 'main.html#page/enhebrado_maquina/')
                    +navTemaItem('2', '¿Cómo colocar la caja bobina?', 'main.html#page/bobina/')
                    +navTemaItem('3', 'Abrir costura', 'main.html#page/abrir/')
                    +navTemaItem('4', 'Montar otra pieza', 'main.html#page/montar/')
                    +navTemaItem('5', 'Devanar', 'main.html#page/devanar/')
                    +navTemaItem('6', 'Enhebrado de la máquina zigzag', 'main.html#page/enhebrado/')
                    +navTemaItem('7', 'Hacer costura en zigzag', 'main.html#page/costura_en_zigzag/')
                    +navTemaItem('8', 'La costura según el diseño de la pieza', 'main.html#page/costura/')