.container
    .header-ecored
        h1 4. Montar otra pieza. 
    .jumbotron.bg-white
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/FnyrGggq3OI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')