.container
    .header-ecored
        h1 5. Devanar. 
    .jumbotron.bg-white
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img6.png").img-fluid

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Elqy3vtUkAc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')