.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Confección:
            | “confección, que tiene su origen en el vocablo latino confectio, es un término que refiere a la acción de preparar o hacer determinadas cosas a partir de una mezcla o de una combinación de otras. Es posible, en este sentido, confeccionar ropa, medicamentos, perfumes, etc.” (Pérez y Gardey, 2014).
        
        p
            strong.mr-2 Enhebrar:
            | Colocar una hebra por el ojo de una aguja de mano o de máquina.
        p 
            strong.mr-2  Envivar:
            | pegar las piezas en vivo, se usa para dar ganancia al molde.